@charset 'utf-8';
@import "font_awesome/css/all.min.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial";
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}


header {
	width: 200px;
	height: 100vh;
	position: fixed;
	z-index: 10000;
	box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.1);
	background-color: #fff;
}

#logo {
	margin-top: 15px;
	width: 100%;
	height: 60px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	font-size: 18px;
}

.header-wrapper {
	height: 100%;
}

nav {
	height: 350px;
}

nav > ul {
	display: flex;
	flex-direction: column;
}

nav > ul > li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
	cursor: pointer;font-weight: bold;	
	transition: color .5s, border .5s,background-color .5s;
	border-left: 4px solid transparent;
}

nav > ul > li:hover {
	border-left: 4px solid #003a70;
	background-color: #f4f5f9;
}

nav > ul > li:hover > * {
	color: #003a70;
}

nav > ul > li > i {
	margin-left: 30px;
	font-size: 16px;
	color: #aaa;
}

nav > ul > li > a {
	margin-left: 12px;
	color: #aaa;
}


nav > ul > li.active {
	border-left: 4px solid #003a70;
	background-color: #f4f5f9;
}

nav > ul > li.active > * {
	color: #003a70;
}

footer {
	margin-left: 200px;
	width: calc(100% - 200px);
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color: #333030;
	color: #fff;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-wrapper {
	margin-left: 200px;
	height: 100vh;
	position: relative;
	background-color: #fff;
}

#profile {
	position: relative;
	width: 100%;
	height: 250px;
}

#profile > i {
	font-size: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ddd;
}

.login {
	font-weight: bolder;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
}

.login > a {
	color: #333;
}

.email {
	color: #aaa;
	text-align: center;
	margin-top: 5px;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}

.log {
	width: 100%;
	height: 50px;
	border-top: 1px solid #ddd;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	color: #ccc;
	line-height: 50px;
	padding-left: 24px;
	font-weight: bolder;
	font-size: 17px;
}

.log > i {
	font-size: 16px;

}

.log:hover {
	background-color: #f4f5f9;
}

.toast-wrapper {
	position: fixed;
	right: 0;
	bottom: 0;
	height: auto;
	max-height: 95vh;
	overflow: auto;
	background: #ddd;
	margin-bottom: 50px;
	width: 15%;
	margin-right: 5px;
	z-index: 10;
}

.toast {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 170px;
	background: #003a70;
	color: #fff;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 20px;
	position: relative;
}

.toast-close {
	position: absolute;	
	top: 10px;
	right: 15px;
	font-size: 25px;
	cursor:pointer;
}